* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Space Grotesk, sans-serif;
}
body {
    background: url(bg.webp) center center/ cover fixed;
    min-height: 100vh;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}
.name-location {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    font-weight: bold;
}
i {
    font-size: 2rem;
    color: white;
    background: transparent;
}
#location {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}
#date {
    font-size: .8rem;
    color: white;
    font-family: sans-serif;
}
#search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 20px;
}
input {
    width: 300px;
    height: 50px;
    background: transparent;
    border: 1px solid white;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    color: white;
    font-size: 1.2rem;
}
button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 3rem;
    background: midnightblue;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.weather-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 10px;
}
#main-temp {
    font-size: clamp(40px, 5rem, 8rem);
    font-weight: bold;
}
#temp-icon {
    font-size: 2rem;
}
#temp-description {
    font-weight: bold;
    font-size: 2rem;
}
#temp-range {
    font-weight: bold;
    font-size: 1.1rem;
}
.hourly-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 50px;
    gap: 20px;
}
.today-forecast {
    color: white;
    font-weight: bold;
}
.five-hours-forecast {
    display: flex;
    gap: 20px;
}
.hour {
    backdrop-filter: blur(2rem);
    border: 1px solid white;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 20px;
    border-radius: 30px;
    /* gap: 10px; */
    color: white;
}
.hour:hover {
    transform: scale(1.1);
    transition: .5s ease-in-out;
}
.daily-display {
    padding: 10px 50px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.five-days-forecast {
    color:white;
    font-weight: bold;
}
.next-five-days {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.day {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: white;
    background: midnightblue;
    padding: 20px;
    border-radius: 20px;
    max-width: 30rem;
}
#first-day-icon {
    background: darkblue;
    padding: 10px;
    border-radius: 10px;
}
#first-day-date {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#day-of-the-week {
    font-weight: bold;
}
#weather-description {
    color: darkgray;
}
#temp {
    display: flex;
}
#main-temp-of-the-day{
    font-weight: bold;
}
#temp-range {
    color: darkgray;
}
.hidden {
    display: none;
}